<!-- <header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" alt="">
      </div>
      <div class="col-lg-10">
        <h1 class="display-5 text-white mt-5 mb-2">Desenvolvedor Avançado em Angular</h1>
        <p class="lead mb-5 text-white">Voce esta pronto para aprender muito sobre esta farmwork</p>
      </div>
    </div>
  </div>
</header> -->

<div class="container main-container mt-5 mb-5">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="./assets/celular.jpg" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <h4 class="card-title">Multiplataforma</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusantium odio voluptas quisquam quas voluptatem, minus ea officiis fuga modi.</p>
        </div>
        <div class="card-footer">
          <a href="" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="./assets/celular2.jpg" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <h4 class="card-title">Multiplataforma</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusantium odio voluptas quisquam quas voluptatem, minus ea officiis fuga modi.</p>
        </div>
        <div class="card-footer">
          <a href="" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="./assets/celular3.jpg" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <h4 class="card-title">Multiplataforma</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusantium odio voluptas quisquam quas voluptatem, minus ea officiis fuga modi.</p>
        </div>
        <div class="card-footer">
          <a href="" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img src="./assets/celular4.jpg" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <h4 class="card-title">Multiplataforma</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti accusantium odio voluptas quisquam quas voluptatem, minus ea officiis fuga modi.</p>
        </div>
        <div class="card-footer">
          <a href="" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
